.card{
    border: 1px solid #eaeaea;
    border-radius: 10px;
    padding: 1.5rem;
    text-align: center;
    transition: box-shadow 0.2s ease, transform 0.2s ease;
    .detail {
        color: blue;
    }
}